.container1{
    width : 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem 4rem 4rem 18rem 4rem 3rem;
    justify-content: center;
    align-content: center;
    grid-gap : 8px;
    background : linear-gradient(white 20%, #fff5d7);    /* background : black; */
}

.winnerContainer{
    display: flex;
    justify-content: space-between;
}

.winner{
    text-align : center;
    border : 1px solid black;
    display : flex;
    color : #393939;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background : whitesmoke;
    width : 45%;
}

.winnerHighlight{
    animation : trans 1500ms linear;
    background : #040404;
    color : rgb(235, 34, 67);
}

.turn{
    /* border : 1px solid black; */
    display : flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background :  #fbf9f9;
    padding : 5px;
}

.turnItems{
    text-align: center;
    width : 45%;
    padding : 5px;
    border : 1px solid black;
    border-radius : 5px;
}

.green{
    background : #beef00;
}

.container2{
    /* background : white; */
    width : 27rem;
    height : 18rem;
    display : grid;
    grid-template-columns: repeat(3, 9rem);
    grid-auto-rows : 6rem;
    grid-gap : 2px; 
}
/* 432 288 */
.draw{
    display: none;
}

.button{
    /* padding : 4px; */
    border-radius : 8px;
    border : 1px solid black;
    background :  #fff5d7;
    color : black;
    cursor : pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 33%;
}

.heading{
    background : #1d1e22;
    display  : flex;
    justify-content: center;
    align-items : center;
    border-radius : 8px;
    /* margin-bottom: 15px; */
} 

.heading h1{   
    color : #d4d4dc;
}

.highlightButton{
    background : #FF5A09;
    color : #393939;
    border : 1px solid black;
    animation : big 1000ms;
    font-size: 1.2rem;
    /* transform: scale(1.5); */
}

.scoreContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scoreItem{
    border : 1px solid black;
    padding : 3px;
    width : 20%;
    text-align: center;
    border-radius: 8px;
}

.resetContainer{
    text-align: center;
}

.reset{
    border : none;
    background : #040404;
    color : #FF5A09;
    cursor : pointer;
    font-size: 1rem;
    width : 20%;
    height : 1.5rem;
    border-radius : 8px;
    transform : scale(1);
    transition-property: transform;
    transition-duration: 300ms;
    outline : none;
}

.reset:hover{
    transform : scale(1.2);
}

.cwinner{
    background : #FF5A09;
    color : whitesmoke;
}

@keyframes trans{
    0%{
        transform: translateX(-10px);
    }
    25%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px)
    } 
}


@keyframes big{
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(180deg)
    }
    100%{
        transform: rotate(360deg)
    }
}