.item{
    display : flex;
    background : #ff0028;
    justify-content: center;
    align-items: center;
    color : white;
    border-radius: 5px;
}

.item:hover{
    cursor : pointer;
    background : black;
}

.highlight{
    background-color : #1d1e22;
    color : #FF5A09;
}

.highlight:hover
{ 
    background-color : #1d1e22;
    color : #FF5A09;
}



    