.item{
    display : flex;
    background : #ff0028;
    justify-content: center;
    align-items: center;
    color : white;
    border-radius: 5px;
}

.item:hover{
    cursor : pointer;
    background : black;
}

.highlight{
    background-color : #beef00;
    color : black;
}

.highlight:hover
{
    background-color : #beef00;
    color : black;
}



    